
h1{ 
    font-size: 60px;
}
.new{
    color: blue;
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
}
section{
    display: flex;
    margin-bottom: 70px;
}
.same{
    width: 90%;
    padding-left: 5%;
}
.same img{
    width: 50%;
}
a{
    padding-left: 7%;
}
.bold{
    text-decoration: none;
    background-color: rgb(13, 13, 218);
    border-radius: 2%;
    color: black;
    padding: 1% 1%;
    margin-left: 5%;

}
.banner{
    background-image: url(images/top-banner.png);
}
.so{
    width: 50%;
    padding-left: 40%;
}
.bo{
    text-decoration: none;
    background-color: rgb(3, 3, 218);
    border-radius: 2%;
    color: black;
    padding: 1% 1%;
    padding-right: 3%;
    margin-right: 10%;
    margin-left: 40%;
}