
h1{ 
    font-size: 70px;
}
.new{
    color: blue;
}
h3{
    font-size: 45px;
}
p{
    font-size: 20px;
}
.dis{
    display: flex;
    margin-bottom: 70px;
}
.same{
    width: 90%;
    padding-left: 5%;
}
.same img{
    width: 50%;
}
a{
    padding-left: 7%;
}
.bold{
    text-decoration: none;
    background-color: rgb(13, 13, 218);
    border-radius: 2%;
    color: black;
    padding: 1% 1%;
    margin-left: 5%;

}
.banner{
    background-image: url(images/top-banner.png);
}
.so{
    width: 50%;
    padding-left: 40%;
}
.bo{
    text-decoration: none;
    background-color: rgb(3, 3, 218);
    border-radius: 2%;
    color: black;
    padding: 1% 1%;
    padding-right: 3%;
    margin-right: 10%;
    margin-left: 40%;
}
.flexible-container{
    display: flex;
    border-left: 10% solid;
}
.soa{
    width:100%;
    margin-left: 3%;
    padding-left: 5%;
    box-shadow: 0px 0px 0px 1px rgb(133, 179, 181);
    border-left: 10px solid rgb(145, 180, 181); 
}
.and{
    width: 70%;
    margin-right: 10%;
    margin-left: 4%;
    padding-left: 10%;
    padding-right: 5%;
    box-shadow: 0px 0px 0px 1px rgb(133, 179, 181);
    border-left: 10px solid rgb(145, 180, 181);
}
footer p{
    text-align: center;
}